<!-- search bar starts here -->

<div class="search-bar">
  <div class="wrapper">

    <form method="get" name="myform">

      <div class="search-bar-cell">
        <label>Your Destination</label>
        <div class="frmSearch">
          <!-- <input type="text" name="countryName" [(ngModel)]="SearchValue" value="" placeholder="Enter a destination" class="search" autocomplete="off"> -->
          <ng2-completer name="countryName" value="" placeholder="Enter a destination" [(ngModel)]="SearchValue" [datasource]="dataService" 
          [minSearchLength]="2" [openOnClick]="true" [textSearching]="" [maxChars]="4"></ng2-completer>
        </div>
      </div>

      <div class="search-bar-cell">
        <label>Check In</label>
        <!-- <input type="text" name="checkInDt" [(ngModel)]="CheckInDate" value="" placeholder="Yy-Mm-Dd" class="datepicker calendar" id="datepicker1"> -->
        <input type="date" name="CheckInDate" [(ngModel)]="CheckInDate" placeholder="Yy-Mm-Dd" class="calendar" id="datepicker1" />
      </div>

      <div class="search-bar-cell">
        <label>Check Out</label>
        <!-- <input type="text" name="checkOutDt" [(ngModel)]="CheckOutDate" value="" placeholder="Yy-Mm-Dd" class="datepicker calendar" id="datepicker2"> -->
        <input type="date" name="CheckOutDate" [(ngModel)]="CheckOutDate" placeholder="Yy-Mm-Dd" class="calendar" id="datepicker2" />
      </div>

      <div class="search-bar-cell">
        <label>Adults</label>
        <select class="adults" [(ngModel)]="NumOfAdults" name="adults">
              <option value="1" >01</option>
              <option value="2" >02</option>
              <option value="3" >03</option>
              <option value="4" >04</option>
              <option value="5" >05</option>
              <option value="6" >06</option>
              <option value="7" >07</option>
              <option value="8" >08</option>
          </select>
      </div>

      <div class="search-bar-cell">
        <label>Kids</label>
        <select class="kids" [(ngModel)]="NumOfChildren" name="kids">
              <option value="1" >01</option>
              <option value="2" >02</option>
              <option value="3" >03</option>
              <option value="4" >04</option>
          </select>
      </div>

      <div class="search-bar-cell">
        <label>Rooms</label>
        <select class="Rooms" name="Rooms">
              <option value="1" >01</option>
              <option value="2" >02</option>
              <option value="3" >03</option>
              <option value="4" >04</option>
          </select>
      </div>
      <input (click)="Search_Click()" type="submit" name="submitForm" value="search now"> <br /> <br />
      <!-- <div class="search-bar-cell">
        <label>Hotel Name</label>
        <div class="frmSearch">
          <input type="text" name="hotelName" id="hotelNameVal" value="" placeholder="Enter a Hotel" class="search" autocomplete="off">
        </div>
        <div class="indEror hide_now"></div>
      </div> -->
    </form>
  </div>
</div>
<!-- search bar ends here -->
