<footer>
  <div class="wrapper">
 
<div class="social-widget">
  
<div id="share-pop-cont">
<div class="share-pop fb-pop" id='div1'>

<span class="pop-heading">
<a href="https://www.facebook.com/HalalJourneys/" target="_blank">View All</a>
<button type="button" name="" value="" class="close-icon"></button>
</span>

<img src="../assets/images/footer/fb-pop-img.png" alt="">
<p>Its all about your journey, your escape, your relaxation, your time, your deen.</p>
<iframe src="http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/HalalJourneys/&amp;layout=button_count&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;" class="plugin-style"></iframe>

<div class="clear"></div>
</div>
<div class="share-pop tw-pop" id='div2'>

<span class="pop-heading">
<a href="https://twitter.com/Halaljourney" target="_blank">View All</a>
<button type="button" name="" value="" class="close-icon"></button>
</span>

<img src="../assets/images/footer/tw-pop-img.png" alt="">
<p>Crystal clear waters of the sea, through soft white sand I wander free...</p>
<a href="https://twitter.com/Halaljourney" class="twitter-follow-button plugin-style" data-show-count="false" data-show-screen-name="false">Follow @Halaljourney</a>
<script>
  ! function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
          p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = p + '://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js, fjs);
      }
  }(document, 'script', 'twitter-wjs');
</script>
<div class="clear"></div>
</div>
<div class="share-pop yt-pop" id='div3'>

<span class="pop-heading">
<a href="https://www.youtube.com/channel/UC5hRY-tZf3Dma5jym5OrO0A" target="_blank">View All</a>
<button type="button" name="" value="" class="close-icon"></button>
</span>

<!-- <iframe width="200" height="140" src="https://www.youtube.com/embed/7A1q7v4btbk" frameborder="0" allowfullscreen></iframe> -->
<img src="../assets/images/footer/yt-pop-img.png" alt="">
<p>Istanbul -Flow through the City of Tails. From the top of the Galata Tower, Where Hezargen flew across the Bosphorus...</p>
<script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" data-channelid="UC5hRY-tZf3Dma5jym5OrO0A" data-layout="default" data-count="default"></div>
  <div class="clear"></div>
</div>
<div class="share-pop inst-pop" id='div4'>

<span class="pop-heading">
<a href="https://www.instagram.com/Halaljourneys/" target="_blank">View All</a>
<button type="button" name="" value="" class="close-icon"></button>
</span>

<img src="../assets/images/footer/inst-pop-img.png" alt="">
<p>Only let this one tear-drop, this Taj mahal, glisten spotlessly bright on the..</p>
<a href="https://www.instagram.com/Halaljourneys/" target="_blank" class="plugin-style plugin-style-inst" style="">Follow Us</a>
  <div class="clear"></div>
</div>
</div>
  
<div class="get-social shape">
<p>Get Social</p>
<ul>
<li class="fb-pop-btn"><i class="fb-icon"></i></li>
<li class="tw-pop-btn"><i class="tw-icon"></i></li>
<li class="yt-pop-btn"><i class="yt-icon"></i></li>
<li class="inst-pop-btn"><i class="inst-icon"></i></li>
</ul>

</div>    
 
</div>
<div class="footer-right">
  
<div class="footer-right-col footer-right-col-one">
<h6>Company</h6>
<ul>
<li><a href="">About HJ</a></li>
<li><a href="">Business Zakat</a></li>
<li><a href="">In the Media</a></li>
<li><a href="">Contact Us</a></li>
</ul>
</div>
<div class="footer-right-col">
<h6>For Travellers</h6>
<ul>
<li><a href="">Halal-Friendly Travel?</a></li>
<li><a href="">Virtual/Concierge Service</a></li>
</ul>
</div>
<div class="footer-right-col footer-right-col-three">
<h6> FOR TRAVEL OPERATORS<br>&amp; HOTELS</h6>
<ul>
<li><a href="">Advertise with Us</a></li>
<li><a href="">Accelerator Program</a></li>
</ul>
</div>     
 
<div class="clear"></div>
<div class="subscribe-newsletter">
<h6>Subscribe</h6>
<span id="othererror" class="success" style="display:none;">Unable to Subscribe, Please Try Some other Time!</span>
<span id="subsuccessmsg" class="success" style="display:none;">Your Subscription is Active Now!</span>
<span id="subemailvalidError" class="error" style="display:none;">Email Already Exits!</span>
<form id="subsform" method="post">
<input type="text" name="subsmail" value="" placeholder="Enter your email for  special offers">
<input type="submit" class="registerNow" name="subsubmit" value="Submit">
</form>
</div>    
  
</div>        
      
</div>      
</footer>
<div class="footer-bottom">
<div class="wrapper">
<ul>
  <li><a href="">Privacy Policy</a></li>
  <li><a href="">Terms of Service</a></li>
</ul>  
  <p>© 2016 All rights reserved. <i>HalalJourney.com</i></p>
  
</div>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/plugins/jquery-validation/dist/jquery.validate.js"></script>        
</div>
<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('fhcs8vgkgs44');
</script>
<!-- End of Async Drift Code -->