<div *ngIf="!showHotelBooking" class="top-sec hotel-booking-sec">
  <div class="inner-content">
    <div class="page-location">Home&nbsp;&nbsp;|&nbsp;&nbsp;
      <b>Policies</b>
    </div>
    <div class="page-heading">Hotel Policies</div>
  </div>
</div>
<div *ngIf="showHotelBooking" class="top-sec hotel-booking-sec">
  <div class="inner-content">
    <div class="page-location">Home&nbsp;&nbsp;|&nbsp;&nbsp;
      <b>Booking</b>
    </div>
    <div class="page-heading">Hotel Booking</div>
  </div>
</div>
<app-hotel-booking [InputHotelBookingPersonalDetails]="hotelBookingPersonalDetails" [InputOptionId]="optionId" [InputRoomId]="roomId" *ngIf="showHotelBooking"></app-hotel-booking>
<!-- content ends here -->

<!-- page content starts here -->
<div class="isBusy" *ngIf="isBusy">
    <img src="../assets/images/isBusy.gif" />
    <span>Please Wait while we fetch the Booking Policies...</span>
  </div>
<div *ngIf="!showHotelBooking" [ngClass]="{'disabled': isBusy }" class="page-content thanks-page-content booking-content">
  <div class="wrapper">
    <div class="booking-content-left" *ngIf="hotelPolicy[0].Error">
      <h6>TIME OUT ! PLEASE TRY AGAIN !</h6>
    </div>
    <div class="booking-content-left" *ngIf="hotelPolicy && !hotelPolicy[0].Error">

      <h6>Please Review Hotel Policies First</h6>

      <div class="booking-form-container">
        <div class="booking-row">
          <label>CURRENCY</label>
          <span>{{hotelPolicy[0].Currency[0]}}</span>
        </div>

        <div class="booking-row">
          <label>TOTAL PRICE</label>
          <span>{{hotelPolicy[0].TotalPrice[0]}}</span>
        </div>

        <div class="booking-row">
          <label>CANCELLATION DEADLINE</label>
          <span>{{hotelPolicy[0].CancellationDeadline[0]}}</span>
        </div>

        <div class="booking-row">
          <label>RESTRICTIONS</label>
          <ul *ngFor="let restriction of hotelPolicy[0].Restrictions[0].Restriction">
            <li>
              <ul>
                <li>{{restriction}}</li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="booking-row">
          <label>CANCELLATION POLICIES</label>
          <div>
            <ul *ngFor="let policy of hotelPolicy[0].Policies[0].Policy">
              <li>
                <ul>
                  <li>
                    DATE: {{policy.From | date:'dd-MMM-yyyy'}}
                    {{policy.Value}}
                    {{policy.Type}}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="booking-row">
          <label>ALERTS</label>
          <ul *ngFor="let alert of hotelPolicy[0].Alerts[0].Alert">
            <li>
              <ul>
                <li>{{alert}}</li>
              </ul>
            </li>
          </ul>
        </div>

      </div>

      <h6>Your Personal Information</h6>
      <div class="booking-form-container">
        <div class="booking-row">
          <label>Title</label>
          <select name="title" [(ngModel)]="hotelBookingPersonalDetails.Title">
            <option value="Mr.">Mr.</option>
            <option value="Mrs.">Mrs.</option>
            <option value="Miss.">Miss.</option>
          </select>
        </div>

        <div class="booking-row">
          <label>First Name</label>
          <input type="text" name="fname" [(ngModel)]="hotelBookingPersonalDetails.FirstName" placeholder="Enter your first name" value="">
        </div>

        <div class="booking-row">
          <label>Last Name</label>
          <input type="text" name="lname" [(ngModel)]="hotelBookingPersonalDetails.LastName" placeholder="Enter your last name" value="">
        </div>

        <div class="booking-row">
          <label>E-mail Adress</label>
          <input type="text" name="email" [(ngModel)]="hotelBookingPersonalDetails.Email" placeholder="Enter your e-mail adress" value="">
        </div>

        <div class="booking-row">
          <label>Verify E-mail Address</label>
          <input type="text" name="vrfyMail" placeholder="Enter your e-mail adress for verify" value="">
        </div>

        <div class="booking-row">
          <label>Country Code</label>
          <select name="cntryCode">
            <option value="GB">United Kingdom (+44)</option>
            <option value="GB">Australia (+61)</option>
            <option value="GB">Switzerland (+41)</option>
            <option value="GB">Saudi Arabia (+966)</option>
            <option value="GB">Dubai (+971)</option>
          </select>
        </div>

        <div class="booking-row">
          <label>Phone Number</label>
          <input type="text" name="phn" [(ngModel)]="hotelBookingPersonalDetails.Phone" placeholder="Enter your phone number" value="">
        </div>

      </div>

      <div class="custom-checkbox">
        <input id="newwew" class="css-checkbox" type="checkbox">
        <label for="newwew" name="demo_lbl_1" class="css-label"> I want to receive Halal Journey promotional offers in the future</label>
      </div>

      <div class="space60"></div>
      <h6>Your Card Information</h6>
      <div class="booking-form-container">
        <div class="booking-row">
          <label>Credit Card Type</label>
          <select name="">
            <option value="">Select a card</option>
          </select>
        </div>

        <div class="booking-row">
          <label>Card Holder Name</label>
          <input type="text" name="" value="" placeholder="Enter your card holder name">
        </div>

        <div class="booking-row">
          <label>Card Number</label>
          <input type="text" name="" value="" placeholder="Enter your card number">
        </div>

        <div class="booking-row">
          <label>Card Identification Number</label>
          <input type="text" name="" value="" placeholder="Enter your e-mail adress for verify">
        </div>

        <div class="booking-row">
          <label>Expiration Date</label>
          <select name="" class="month-input">
            <option value="">Month</option>
          </select>

          <select name="" class="month-input month-input-two">
            <option value="">Year</option>
          </select>
        </div>

        <div class="booking-row">
          <label>Billing Zip Code</label>
          <input type="text" name="" value="" placeholder="Enter billing zip code">
        </div>
      </div>


      <div class="custom-checkbox">
        <input id="newwew2" class="css-checkbox" type="checkbox" required>
        <label for="newwew2" name="demo_lbl_2" class="css-label">By continuing, you agree to the Terms and Conditions.</label>
      </div>

      <button (click)="showHotelBookingComponent()" type="submit" name="" value="" class="cofrm-booking">confirm booking</button>
    </div>
    <!-- left ends here -->


    <div class="thanks-content-right">
      <div class="useful-information">useful information</div>
      <div class="need-help">
        <h6>Need Help?</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
        <ul>
          <li class="thanks-call-icon">+xx xxx xxxxx</li>
          <li class="thanks-mail-icon">Smile@halaljourney.com</li>
        </ul>
      </div>
    </div>
    <!-- right ends here -->

    <div class="clear"></div>
    <div class="space60"></div>
  </div>
</div>
<!-- page content ends here -->
